@charset "UTF-8";
/* CSS Document */ 
body{
   background-color:rgb(255, 166, 188);

}   

header{ 
    font-family: Jolly Lodger, sans-serif;
}

p{
    font-family: Oldenburg, sans-serif;
} 
h1{
    font-family: Jolly Lodger, sans-serif;
} 

.topnav {
  background-color: #f83051;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #971010;
  color: black;
}

.topnav a.active {
  background-color: #aa0404;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Oldenburg, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} 



* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: Oldenburg, sans-serif;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
} 

iframe {
    border: none;
    width: 100%;
    height: 500px;
} 


footer{ 
    position:fixed
    bottom:0;
    width:100%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: rgb(0, 0, 0);  
}   

footer{ 
    font-family: Oldenburg, sans-serif;
} 