@charset "UTF-8";

body{
   background-color:rgb(255, 166, 188);
}   

header{ 
    font-family: Jolly Lodger, sans-serif;
}

p{
    font-family: Oldenburg, sans-serif;
} 
h1{
    font-family: Jolly Lodger, sans-serif;
} 

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}   

.avatar {
        float: left; 
        margin-right: 15px; 
    }


#container{
    width: 900px;
       margin: 0 auto; 
      background-color: rgb(239, 224, 247); 
      border-radius: 25px; 
      padding: 20px 20px 20px 20px;
}    

.left{
     width: 315px;
     height: 350px;
     background-color: rgb(250, 213, 219);           
     border-radius: 25px; 
     float: left;
     margin: 0px 15px 0px 10px;
     padding: 20px 20px 20px 20px;
     border: thick greenyellow solid; 
     
}

.right{
     width: 315px;
     height: 350px; 
     background-color: rgb(250, 213, 219); 
     border-radius: 25px; 
     float: left;
     margin: 0px 10px 0px 0px;
     padding: 20px 20px 20px 20px;
     border: thick greenyellow solid;
} 
    




* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.mySlides {
  display: inline-block;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #f83051;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 15.55%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
} 




 
* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: Oldenburg, sans-serif;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
  display:none; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #f83051;
}

.btn.active {
  background-color: #680404;
   color: white;
} 


.topnav {
  background-color: #f83051;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #971010;
  color: black;
}

.topnav a.active {
  background-color: #aa0404;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }


@media screen and (max-width: 600px) } 
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


iframe {
    border: none;
    width: 100%;
    height: 500px; 
} 
 

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(214, 55, 55);
   color: white;
   text-align: center;
}