@charset "UTF-8";
/* CSS Document */ 
body{
   background-color:rgb(255, 166, 188);

}   

header{ 
    font-family: Jolly Lodger, sans-serif;
}

p{
    font-family: Oldenburg, sans-serif;
} 
h1{
    font-family: Jolly Lodger, sans-serif;
} 

.topnav {
  background-color: #f83051;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #971010;
  color: black;
}

.topnav a.active {
  background-color: #aa0404;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

footer{
    font-family: Jolly Lodger, sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    background-color: #f83051;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}